html {
  position: relative;
  min-height: 100vh;
  /* margin-bottom: 50px; */
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-bottom: 30px;
  background-color: #424242;
  margin-bottom: 55px;
}

.hidden {
  display: none;
}

.navbar-link {
  text-decoration: none;
  color: inherit;
}

.root {
  display: flex;
  flex-grow: 1;
}

.title {
  flex-grow: 1;
}

.btn-login {
  margin-top: 20px;
}

.footer-bar {
  /* margin-top: 60px; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: #212121;
  -webkit-box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.75);
}

.yellow {
  color: #ffff00;
}

input {
  color: #ffff00 !important;
}

/* .notchedOutline {
  border-width: 1px;
  border-color: yellow !important;
} */
.MuiInput-underline:after {
  border-bottom: 2px solid #ffff00 !important;
  border-bottom-width: 2px !important;
  border-bottom-style: solid !important;
  border-bottom-color: #ffff00 !important;
}
.MuiInput-underline:before {
  border-bottom: 1px solid #ffff00 !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: #ffff00 !important;
}

@media (min-width: 600px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 30%;
    max-width: 315px !important;
    margin-left: 50px;
    height: 500px;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .MuiListItem-root {
    justify-content: space-between !important;
  }

  .create-container {
    margin-bottom: 30px;
  }
  .submit-list-container {
    display: flex;
    flex-direction: column;
  }

  .user-container {
    /* margin-right: 20%; */
    /* padding-left: 10%; */
    /* margin-top: -40px; */
    flex-grow: 2;
    height: 500px;
    overflow-y: auto;
    width: 60%;
  }
}

.hide {
  display: none;
}
.MuiCheckbox-root {
  color: #ffff00 !important;
}
.MuiTypography-body1 {
  color: #ffff00 !important;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  max-height: 400px;
}

.MuiFormHelperText-root {
  color: red !important;
}

.estimate-item-select-width {
  width: 150px;
}
.MuiInputBase-input {
  color: #ffff00 !important;
  text-align: center !important;
  padding-bottom: 20px;
  /* min-height: 10rem; */
}

#create-form {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  align-content: space-between;
  margin: 20px;
  /* max-width: 800px; */
}
.top {
  margin-bottom: 20px;
}

.quantity-amount-width {
  width: 100px;
}

.description {
  width: 300px;
}

#item-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
}
.add-item-btn {
  margin-top: 20px !important;
  color: #9e9e9e;
}
.MuiInputLabel-animated {
  color: #9e9e9e !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}